{% extends "layout.html" %}
  {% block files %}
    <link rel="stylesheet" href="{{ url_for('static',filename='my_style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/all.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/fontawesome.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename = 'MDB/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename = 'MDB/css/bootstrap.min.css') }}">
  {% endblock files %}
  {% block content %}
<div class="__container">
  <div id="loader" class="center"></div> 
  {% with messages = get_flashed_messages(with_categories = true) %}
      {% if messages %}
          {% for category,message in messages%}
              <div>
                  {% if category == "info" %}
                      <div class = "alert alert-info" ><i class="fas fa-bell fl-fw icon_bell"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{ message }}<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button></div>
                  {% elif category == "success" %}
                      <div class = "alert alert-success" ><i class="fas fa-check-circle fl-fw icon_tick"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{ message }}<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button></div>
                  {% elif category == "danger" %}
                      <div class = "alert alert-danger" ><i class="fas fa-times-circle fl-fw icon_danger"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{ message }}<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button></div>
                  {% endif %}
              </div>
          {% endfor %}
      {% endif %}
    {% endwith %}
    <div class="_container">
          <div class="form">
            <div class="input">
              <h4 style="color: rgb(0, 189, 189);">Check Your Email Inbox And Spam Folder Also</h4>
              <br/>
                <ul style="color: grey;">
                    <li>If you have not recieved email yet then check your spam folder.</li>
                    <li>Please unspam our mails so that you don't face any problem later.</li>
                    <li>Please don't share your password with anybody</li>
                </ul>

                <div class="inputbox text-center">
                    <a href="{{ url_for('users.login') }}" class="btn btn-dark mt-3">Go to Login</a>
                </div>
              
            </div>
            
          </div>
        </div>
</div>
<script type="text/javascript" src="{{ url_for('static',filename='MDB/js/jquery.min.js')}}"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="{{ url_for('static',filename='MDB/js/popper.min.js')}}"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="{{ url_for('static',filename='MDB/js/bootstrap.min.js')}}"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="{{ url_for('static',filename='MDB/js/mdb.min.js')}}"></script>
  {% endblock content %}