{% extends "layout.html" %}
  {% block files %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/all.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/fontawesome.min.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='my_style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/all.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/fontawesome.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename = 'MDB/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename = 'MDB/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename = 'MDB/css/mdb.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename = 'MDB/css/mdb.lite.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename = 'MDB/css/mdb.lite.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename = 'MDB/css/mdb.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename = 'MDB/css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename = 'MDB/css/modules/animations-extended.min.css') }}">
  {% endblock files %}
  {% block content %}
      <div class = "__container" id = "style-1">
        {% with messages = get_flashed_messages(with_categories = true) %}
            {% if messages %}
                {% for category,message in messages%}
                    <div>
                        {% if category == "info" %}
                            <div class = "alert alert-info" ><i class="fas fa-bell fl-fw icon_bell"></i>{{ message }}</div>
                        {% elif category == "success" %}
                            <div class = "alert alert-success" ><i class="fas fa-check-circle fl-fw icon_tick"></i>{{ message }}</div>
                        {% elif category == "danger" %}
                            <div class = "alert alert-danger" ><i class="fas fa-times-circle fl-fw icon_danger"></i>{{ message }}</div>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class = "container">
        <div class = "login_box">
          <h1 class = "title">LOGIN</h1>
            <div class = "login_form">
              <form action = "" method = "POST">
                {{ form.hidden_tag() }}
                  <fieldset class = "fields">
                  
                    <div class = "email_field">
                      
                      <i class="fas fa-envelope icon_email fl-fw"></i>
                      
                      <!-- {{ form.email.label(class = "email_label") }} -->
                      {{ form.email(class = "email",placeholder = "Email") }}
                      {% if form.email.errors %}
                        {% for error in form.email.errors%}
                          <div style = "color: #e84118;font-size: small; margin-top:4px;margin-left: 50px;">
                            {{ error }}
                          </div>
                        {% endfor %}
                      {% endif %}
                      
                      
                    </div>
                    <div class = "password_field">

                      
                        <i class="fas fa-lock icon_password fl-fw"></i>
                      
                      <!-- {{ form.password.label(class = "password_label") }} -->
                      {{ form.password(class = "password",placeholder = "Password") }}
                      {% if form.password.errors %}
                        {% for error in form.password.errors%}
                          <div style = "color: #e84118;font-size: small; margin-top:4px;margin-left: 50px;" >
                            {{ error }}
                          </div>
                        {% endfor %}
                      {% endif %}
                    </div>
                  </fieldset>
                  <div class="rm">
                    
                    {{ form.checkbox(class = "rm_reg") }}<div class="rem_reg">Remember Me</div>
                  </div>
                  
                  <div class = "submit_btn">
                    {{ form.submit(class = "submit") }}
                  </div>
              </form>
            </div>
            
          <div class="links">
            <a href = "#"><div class = "link_fp">Forgot Password?</div></a><br>
            <a href = "{{ url_for('register') }}"><div class = "link_naa">Need An Account?</div></a>
          </div>
          <hr class="hr_style">
          <div class="social_icon">
            <a href="https://www.google.com"><i class="fab fa-google-plus-g  fl-fw sicon-g"></i></a>
            <a href="https://www.facebook.com"><i class="fab fa-facebook-f  fl-fw sicon-f"></i></a>
            <a href="https://www.twitter.com"><i class="fab fa-twitter fl-fw sicon-t"></i></a>
          </div>
        </div>
        <div class="typing">
          <p>Welcome To Vcode.</p>
        </div>
        <div class="animate">
          <div class = "Q ">Q</div>
          <div class = "Q press-w">W</div>
          <div class = "Q press-e">E</div>
          <div class = "Q">R</div>
          <div class = "Q press-t">T</div>
          <div class = "Q">Y</div>
          <div class = "Q">U</div>
          <div class = "Q">I</div>
          <div class = "Q press-o">O</div>
          <div class = "Q">P</div>
          <div class = "invisible_key">;</div>
          <div class = "Q">A</div>
          <div class = "Q">S</div>
          <div class = "Q press-d">D</div>
          <div class = "Q">F</div>
          <div class = "Q">G</div>
          <div class = "Q">H</div>
          <div class = "Q">J</div>
          <div class = "Q">K</div>
          <div class = "Q press-l">L</div>
          <div class = "invisible_key">;</div>
          <div class = "invisible_key-1">;</div>
          <div class = "Q">Z</div>
          <div class = "Q">X</div>
          <div class = "Q press-c">C</div>
          <div class = "Q press-v">V</div>
          <div class = "Q">B</div>
          <div class = "Q">N</div>
          <div class = "Q press-m">M</div>
          <div class = "invisible_key">;</div>
          <div class = "invisible_key">;</div>
          <div class = "invisible_key">;</div>
          <div class = "invisible_key">;</div>
          <div class = "invisible_key">;</div>
          <div class = "invisible_key">;</div>
          <div class = "invisible_key">;</div>
          <div class = "invisible_key-1">;</div>
          <div class="space press-space">
            <div class = "space_icon">]</div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-body">
                <div class="comment-111">
                    {% for comment in _comments %}
                        <div >
                             <!-- from -->
                            <div class="modal-header" style="background: linear-gradient(#0072ff,#00c6ff); display: flex; color: white;  -webkit-box-shadow: 0px -2px 5px 6px rgba(100,100,100,100.1); -moz-box-shadow: 0px -2px 5px 6px rgba(100,100,100,0.1); box-shadow: 0px -2px 5px 6px rgba(100,100,100,0.1);">
                                <div class="comment-pic"><img src="{{url_for('static',filename = 'images/'+comment.profile_pic)}}"  class="picpic-1"></div>
                                <div style="display: block; margin-right: 20%;margin-top: 3%;">
                                    <p style="font-size: 23px;">{{ comment.commentor }}</p>
                                    <p style="font-size: 10px; margin-top: -11px;">{{ comment.timestamp.strftime('%d-%m-%Y') }}</p><br>
                                    <p style="font-size: 10px; margin-top: -40px;">{{ comment.timestamp.strftime('%H:%M:%S') }}</p>
                                    <p style="font-size: 10px; margin-top: -10px;">
                                        Today: {{ present_time.strftime('%a %B %Y') }}
                                    </p>
                                    
                                </div>
                            </div>
                             <!-- end -->
                            
                            <div class="comment_all_details">
                                <p style="font-size: 15px; padding: 15px;padding-top: 30px;padding-bottom: 30px;">{{ comment.comment }}</p>
                            <div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
        </div>
    </div>
    <!-- jQuery -->
  <script type="text/javascript" src="{{ url_for('static',filename='MDB/js/jquery.min.js')}}"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="{{ url_for('static',filename='MDB/js/popper.min.js')}}"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="{{ url_for('static',filename='MDB/js/bootstrap.min.js')}}"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="{{ url_for('static',filename='MDB/js/mdb.min.js')}}"></script>
  <!-- Your custom scripts (optional) -->
  <script type="text/javascript"></script>
  {% endblock content %}