{% extends "layout.html" %}
  {% block files %}
    <link rel="stylesheet" href="{{ url_for('static',filename='my_style1.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/all.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/fontawesome.min.css')}}">

    <link rel="stylesheet" href="{{ url_for('static',filename='css/all.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/fontawesome.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename = 'MDB/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename = 'MDB/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename = 'MDB/css/mdb.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename = 'MDB/css/mdb.lite.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename = 'MDB/css/mdb.lite.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename = 'MDB/css/mdb.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename = 'MDB/css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename = 'MDB/css/modules/animations-extended.min.css') }}">
  {% endblock files %}
  {% block content %}
      <div class="__container">
        {% with messages = get_flashed_messages(with_categories = true) %}
            {% if messages %}
                {% for category,message in messages%}
                    <div>
                        {% if category == "info" %}
                            <div class = "alert alert-info" ><i class="fas fa-bell fl-fw icon_bell"></i>{{ message }}</div>
                        {% elif category == "success" %}
                            <div class = "alert alert-success" ><i class="fas fa-check-circle fl-fw icon_tick"></i>{{ message }}</div>
                        {% elif category == "danger" %}
                            <div class = "alert alert-danger" ><i class="fas fa-times-circle fl-fw icon_danger"></i>{{ message }}</div>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}


        <!-- form -->
            <div class="box-1">
              <div class="my_container">
                <form action="" method="POST">
                  {{ form.hidden_tag() }}
                  <p class="text-center mb-10" style="font-size: 180%; color: firebrick;">LOGIN</p>
                  <div class="form-group mb-4 mt-4">
                    {{ form.email(class = "form-control",placeholder = "Email") }}
                    {% if form.email.errors %}
                      {% for error in form.email.errors%}
                        <small class="form-text text-danger">{{ error }}</small>
                      {% endfor %}
                    {% endif %}
                    
                  </div>
                  <div class="form-group">
                    {{ form.password(class = "form-control",placeholder = "Password")}}

                    {% if form.password.errors %}
                      {% for error in form.password.errors%}
                        <small class="form-text text-danger">{{ error }}</small>
                      {% endfor %}
                    {% endif %}
                  </div>
                  
                  <div class="custom-control custom-checkbox mb-4 mt-3">
                    {{ form.checkbox(class = "custom-control-input",  id="defaultUnchecked") }}
                    {% if form.checkbox.errors %}
                      {% for error in form.checkbox.errors%}
                        <small id="emailHelp" class="form-text text-danger">{{ error }}</small>
                      {% endfor %}
                    {% endif %}
                    <label class="custom-control-label" for="defaultUnchecked">Remember Me</label>
                  </div>
                  <div class="text-center">
                    {{ form.submit(class="btn purple-gradient btn-primary", placeholder = "Login") }}
                  </div>
                  <div class="text-center mt-4">
                    <a href="{{ url_for('users.request_reset') }}" class="link_">Forgot Password ?</a><br>
                  </div>
                  <div class="text-center mt-3">
                    <a href="{{ url_for('users.register') }}" class="link_">Need An Account ?</a>
                  </div>
                </form>
              </div>
        <!-- end -->
      </div>
      </div>


  <!-- jQuery -->
  <script type="text/javascript" src="{{ url_for('static',filename='MDB/js/jquery.min.js')}}"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="{{ url_for('static',filename='MDB/js/popper.min.js')}}"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="{{ url_for('static',filename='MDB/js/bootstrap.min.js')}}"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="{{ url_for('static',filename='MDB/js/mdb.min.js')}}"></script>
  <!-- Your custom scripts (optional) -->
  <script type="text/javascript"></script>
  {% endblock content %}