.container-i{
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    background: #ebf5fc;
    text-align: center;
}
.container-ii{
    width: 330px;
    display: inline-block;
    height: auto;
    border-radius: 5px;
    box-shadow: -5px -5px 15px rgba(255,255,255,0.8),
                5px 5px 10px rgba(0,0,0,0.1);
    margin-top: 40px;
}
.sub-container-i{
    width: 330px;
    height: 120px;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: -5px -5px 15px rgba(255,255,255,0.8),
                5px 5px 10px rgba(0,0,0,0.1);
}
.profile-pic-1{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}








.circle-1,.circle-2,.circle-3,.circle-4,.circle-5,.circle-6{
    color: transparent;
    padding: 50px;
    border-radius: 50%;
    box-shadow: -5px -5px 15px rgba(255,255,255,0.8),
                5px 5px 10px rgba(0,0,0,0.1);
    
}
.circle-1:nth-child(1){
    float: left;
    margin-top: -30px;
    margin-left: -30px;
    animation: animate1 1s linear infinite;
}
.circle-2:nth-child(2){
    float: right;
    margin-top: 80px;
    margin-right: -20px;
    padding: 20px;
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;

}
.circle-3:nth-child(3){
    float: inline-end;
    margin-top: -60px;
    margin-right: -80px;
    padding: 30px;
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
}
.circle-4:nth-child(4){
    padding: 40px;
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
.circle-5:nth-child(5){
    float: right;
    animation: animate5 1s linear infinite;
    animation-delay: 1s;
}
.circle-6:nth-child(6){
    float: left;
    margin-top: 80px;
    margin-left: -20px;
    padding: 20px;
    animation: animate6 1s linear infinite;
    animation-delay: 1.25s;
}
@keyframes animate1{
    0%{
        box-shadow: -5px -5px 15px rgba(255,255,255,0.8),
        5px 5px 10px rgba(0,0,0,0.1);
        top: 10px;
    }
    25%{
        color: rgba(55, 201, 186,0.3);
        background: rgba(55, 201, 186,0.3);
        box-shadow:inset -5px -5px 15px rgba(255,255,255,0.8),
                  inset  5px 5px 10px rgba(0,0,0,0.1);
        top: 50px;
    }
    50%{
        color: rgba(101, 201, 55,0.3);
        background: rgba(101, 201, 55, 0.3);
        box-shadow:inset -5px -5px 15px rgba(255,255,255,0.8),
                  inset  5px 5px 10px rgba(0,0,0,0.1);
        top: 50px;
    }
    75%{
        color: rgba(23, 199, 230, 0.3);
        background: rgba(23, 199, 230, 0.3);
        box-shadow:inset -5px -5px 15px rgba(255,255,255,0.8),
                  inset  5px 5px 10px rgba(0,0,0,0.1);
        top: 50px;
    }
    100%{
        color: rgba(186, 201, 55, 0.3);
        background: rgba(186, 201, 55, 0.3);
        box-shadow:inset -5px -5px 15px rgba(255,255,255,0.8),
                  inset  5px 5px 10px rgba(0,0,0,0.1);
        top: 50px;
    }
}
@keyframes animate2{
    0%{
        box-shadow: -5px -5px 15px rgba(255,255,255,0.8),
        5px 5px 10px rgba(0,0,0,0.1);
        top: 10px;
    }
    25%{
        color: rgba(201, 143, 55, 0.3);
        background: rgba(201, 143, 55, 0.3);
        box-shadow:inset -5px -5px 15px rgba(255,255,255,0.8),
                  inset  5px 5px 10px rgba(0,0,0,0.1);
        top: 50px;
    }
    50%{
        color: rgba(130, 55, 201, 0.3);
        background: rgba(130, 55, 201, 0.3);
        box-shadow:inset -5px -5px 15px rgba(255,255,255,0.8),
                  inset  5px 5px 10px rgba(0,0,0,0.1);
        top: 50px;
    }
    75%{
        color: rgba(23, 230, 75, 0.3);
        background: rgba(23, 230, 75, 0.3);
        box-shadow:inset -5px -5px 15px rgba(255,255,255,0.8),
                  inset  5px 5px 10px rgba(0,0,0,0.1);
        top: 50px;
    }
    100%{
        color: rgba(201, 55, 123, 0.3);
        background: rgba(201, 55, 123, 0.3);
        box-shadow:inset -5px -5px 15px rgba(255,255,255,0.8),
                  inset  5px 5px 10px rgba(0,0,0,0.1);
        top: 50px;
    }
}
@keyframes animate3{
    0%{
        box-shadow: -5px -5px 15px rgba(255,255,255,0.8),
        5px 5px 10px rgba(0,0,0,0.1);
        top: 10px;
    }
    25%{
        color: rgba(201, 55, 92, 0.3);
        background: rgba(201, 55, 92, 0.3);
        box-shadow:inset -5px -5px 15px rgba(255,255,255,0.8),
                  inset  5px 5px 10px rgba(0,0,0,0.1);
        top: 50px;
    }
    50%{
        color: rgba(106, 55, 201, 0.3);
        background: rgba(106, 55, 201, 0.3);
        box-shadow:inset -5px -5px 15px rgba(255,255,255,0.8),
                  inset  5px 5px 10px rgba(0,0,0,0.1);
        top: 50px;
    }
    75%{
        color: rgba(68, 23, 230, 0.3);
        background: rgba(68, 23, 230, 0.3);
        box-shadow:inset -5px -5px 15px rgba(255,255,255,0.8),
                  inset  5px 5px 10px rgba(0,0,0,0.1);
        top: 50px;
    }
    100%{
        color: rgba(55, 201, 67, 0.3);
        background: rgba(55, 201, 67, 0.3);
        box-shadow:inset -5px -5px 15px rgba(255,255,255,0.8),
                  inset  5px 5px 10px rgba(0,0,0,0.1);
        top: 50px;
    }
}
@keyframes animate4{
    0%{
        box-shadow: -5px -5px 15px rgba(255,255,255,0.8),
        5px 5px 10px rgba(0,0,0,0.1);
        top: 10px;
    }
    25%{
        color: rgba(201, 55, 92, 0.3);
        background: rgba(201, 55, 92, 0.3);
        box-shadow:inset -5px -5px 15px rgba(255,255,255,0.8),
                  inset  5px 5px 10px rgba(0,0,0,0.1);
        top: 50px;
    }
    50%{
        color: rgba(106, 55, 201, 0.3);
        background: rgba(106, 55, 201, 0.3);
        box-shadow:inset -5px -5px 15px rgba(255,255,255,0.8),
                  inset  5px 5px 10px rgba(0,0,0,0.1);
        top: 50px;
    }
    75%{
        color: rgba(68, 23, 230, 0.3);
        background: rgba(68, 23, 230, 0.3);
        box-shadow:inset -5px -5px 15px rgba(255,255,255,0.8),
                  inset  5px 5px 10px rgba(0,0,0,0.1);
        top: 50px;
    }
    100%{
        color: rgba(55, 201, 67, 0.3);
        background: rgba(55, 201, 67, 0.3);
        box-shadow:inset -5px -5px 15px rgba(255,255,255,0.8),
                  inset  5px 5px 10px rgba(0,0,0,0.1);
        top: 50px;
    }
}
@keyframes animate5{
    0%{
        box-shadow: -5px -5px 15px rgba(255,255,255,0.8),
        5px 5px 10px rgba(0,0,0,0.1);
        top: 10px;
    }
    25%{
        color: rgba(174, 201, 55, 0.3);
        background: rgba(174, 201, 55, 0.3);
        box-shadow:inset -5px -5px 15px rgba(255,255,255,0.8),
                  inset  5px 5px 10px rgba(0,0,0,0.1);
        top: 50px;
    }
    50%{
        color: rgba(55, 179, 201, 0.3);
        background: rgba(55, 179, 201, 0.3);
        box-shadow:inset -5px -5px 15px rgba(255,255,255,0.8),
                  inset  5px 5px 10px rgba(0,0,0,0.1);
        top: 50px;
    }
    75%{
        color: rgba(23, 230, 75, 0.3);
        background: rgba(23, 230, 75, 0.3);
        box-shadow:inset -5px -5px 15px rgba(255,255,255,0.8),
                  inset  5px 5px 10px rgba(0,0,0,0.1);
        top: 50px;
    }
    100%{
        color: rgba(201, 55, 99, 0.3);
        background: rgba(201, 55, 99, 0.3);
        box-shadow:inset -5px -5px 15px rgba(255,255,255,0.8),
                  inset  5px 5px 10px rgba(0,0,0,0.1);
        top: 50px;
    }
}
@keyframes animate6{
    0%{
        box-shadow: -5px -5px 15px rgba(255,255,255,0.8),
        5px 5px 10px rgba(0,0,0,0.1);
        top: 10px;
    }
    25%{
        color: rgba(55, 135, 201, 0.3);
        background: rgba(55, 135, 201, 0.3);
        box-shadow:inset -5px -5px 15px rgba(255,255,255,0.8),
                  inset  5px 5px 10px rgba(0,0,0,0.1);
        top: 50px;
    }
    50%{
        color: rgba(133, 201, 55, 0.3);
        background: rgba(133, 201, 55, 0.3);
        box-shadow:inset -5px -5px 15px rgba(255,255,255,0.8),
                  inset  5px 5px 10px rgba(0,0,0,0.1);
        top: 50px;
    }
    75%{
        color: rgba(230, 23, 137, 0.3);
        background: rgba(230, 23, 137, 0.3);
        box-shadow:inset -5px -5px 15px rgba(255,255,255,0.8),
                  inset  5px 5px 10px rgba(0,0,0,0.1);
        top: 50px;
    }
    100%{
        color: rgba(201, 101, 55, 0.3);
        background: rgba(201, 101, 55, 0.3);
        box-shadow:inset -5px -5px 15px rgba(255,255,255,0.8),
                  inset  5px 5px 10px rgba(0,0,0,0.1);
        top: 50px;
    }
}