.form{
    margin-top: 50px;
    margin-left: 220px;
}
.input-1{
    background: transparent;
    margin-left: -25%;
    margin-top: -80px;
}
.profile-pic-1{
    margin-top: -80px;
    transform: translate(80%,-40%);
}
.upper_box{
    width: 130%;
    height: 120px;
    margin: -15%;
    background: #ebf5fc;
    border-top-left-radius: 5px;
    border-top-right-radius: 10px;
    text-align: center;
    overflow: hidden;
    box-shadow: -5px -5px 15px rgba(255,255,255,0.8),
                5px 5px 10px rgba(0,0,0,0.1);
}

.ask_button{
    margin-top: -100px;
    margin-right: 130px;
}










.circle-1,.circle-2,.circle-3,.circle-4,.circle-5,.circle-6{
    color: transparent;
    padding: 50px;
    border-radius: 50%;
    box-shadow: -5px -5px 15px rgba(255,255,255,0.8),
                5px 5px 10px rgba(0,0,0,0.1);
    
}
.circle-1:nth-child(1){
    float: left;
    margin-top: -30px;
    margin-left: -30px;
    animation: animate1 1s linear infinite;
}
.circle-2:nth-child(2){
    float: right;
    margin-top: 80px;
    margin-right: -20px;
    padding: 20px;
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;

}
.circle-3:nth-child(3){
    float: inline-end;
    margin-top: -60px;
    margin-right: -80px;
    padding: 30px;
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
}
.circle-4:nth-child(4){
    padding: 40px;
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
.circle-5:nth-child(5){
    float: right;
    animation: animate5 1s linear infinite;
    animation-delay: 1s;
}
.circle-6:nth-child(6){
    float: inline-start;
    margin-top: 80px;
    margin-left: -20px;
    padding: 20px;
    animation: animate6 1s linear infinite;
    animation-delay: 1.25s;
}
@keyframes animate1{
    0%{
        box-shadow: -5px -5px 15px rgba(255,255,255,0.8),
        5px 5px 10px rgba(0,0,0,0.1);
        top: 10px;
    }
    50%,100%{
        box-shadow:inset -5px -5px 15px rgba(255,255,255,0.8),
                  inset  5px 5px 10px rgba(0,0,0,0.1);
        top: 50px;
    }
}
@keyframes animate2{
    0%{
        box-shadow: -5px -5px 15px rgba(255,255,255,0.8),
        5px 5px 10px rgba(0,0,0,0.1);
        top: 10px;
    }
    50%,100%{
        box-shadow:inset -5px -5px 15px rgba(255,255,255,0.8),
                  inset  5px 5px 10px rgba(0,0,0,0.1);
        top: 50px;
    }
}
@keyframes animate3{
    0%{
        box-shadow: -5px -5px 15px rgba(255,255,255,0.8),
        5px 5px 10px rgba(0,0,0,0.1);
        top: 10px;
    }
    50%,100%{
        box-shadow:inset -5px -5px 15px rgba(255,255,255,0.8),
                  inset  5px 5px 10px rgba(0,0,0,0.1);
        top: 50px;
    }
}
@keyframes animate4{
    0%{
        box-shadow: -5px -5px 15px rgba(255,255,255,0.8),
        5px 5px 10px rgba(0,0,0,0.1);
        top: 10px;
    }
    50%,100%{
        box-shadow:inset -5px -5px 15px rgba(255,255,255,0.8),
                  inset  5px 5px 10px rgba(0,0,0,0.1);
        top: 50px;
    }
}
@keyframes animate5{
    0%{
        box-shadow: -5px -5px 15px rgba(255,255,255,0.8),
        5px 5px 10px rgba(0,0,0,0.1);
        top: 10px;
    }
    50%,100%{
        box-shadow:inset -5px -5px 15px rgba(255,255,255,0.8),
                  inset  5px 5px 10px rgba(0,0,0,0.1);
        top: 50px;
    }
}
@keyframes animate6{
    0%{
        box-shadow: -5px -5px 15px rgba(255,255,255,0.8),
        5px 5px 10px rgba(0,0,0,0.1);
        top: 10px;
    }
    50%,100%{
        box-shadow:inset -5px -5px 15px rgba(255,255,255,0.8),
                  inset  5px 5px 10px rgba(0,0,0,0.1);
        top: 50px;
    }
}