.__container{
    background: url(images/login20.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    
    margin: 0;
    padding: 0;
    position: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size:cover;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: rgba(0,0,0,0.6) rgba(255,255,255,0);
    scroll-behavior: smooth;
}


.profile-pic-1:hover{
    border: 6px solid rgba(0,0,0,0);

}

a:hover{
    color: tomato;
    font-size: 15px;
}

.header {
background-color: #fff;
box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
position: fixed;
width: 100%;
margin-top: -180px;
z-index: 3;
}

.header ul {
margin: 0;
padding: 0;
list-style: none;
overflow: hidden;
background-color: #fff;
}

.header li a {
display: flex;
padding: 20px 20px;
border-right: 1px solid #f4f4f4;
text-decoration: none;
color: #fa0509;
}

.header li a:hover {
background-color: rgba(255,255,255,0.2);
}

.header .logo {
display: block;
float: left;
font-size: 2em;
padding: 10px 20px;
text-decoration: none;
}

.header .menu {
clear: both;
max-height: 0;
transition: max-height .2s ease-out;
margin-left: 20px;
margin-bottom: 20px;

}

.header .menu-icon {
cursor: pointer;
display: inline-block;
float: right;
padding: 28px 20px;
position: relative;
user-select: none;
}

.header .menu-icon .navicon {
background: #333;
display: block;
height: 2px;
position: relative;
transition: background .2s ease-out;
width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
background: #333;
content: '';
display: block;
height: 100%;
position: absolute;
transition: all .2s ease-out;
width: 100%;
}

.header .menu-icon .navicon:before {
top: 5px;
}

.header .menu-icon .navicon:after {
top: -5px;
}

.header .menu-btn {
display: none;
}

.header .menu-btn:checked ~ .menu {
max-height: 240px;
color: white;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
top: 0;
}






































.hello{
    display: flex;
    margin-top: 5px;
    margin-left: 10px;
    color: #FA0509;
}
.profile-pic{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.user1{
    margin-top: 6px;
    margin-left: 40px;
    color: #FA0509;
}
.user1:hover{
    color: #B92C01;
}

.questions{
    margin-top: 180px;
    height: auto;
    width: 63vw;
    background: rgba(0,0,0,0.6);
    margin-left: 20%;
    border-radius: 10px;
    margin-bottom: 10px;
    color: white;
    font-family: san-serif,sans-serif,Arial, Helvetica;
    padding:30px;
}
.question{
    margin-top: 10px;
    height: auto;
    width: 80%;
    background: rgba(0,0,0,0.6);
    margin-left: 10%;
    border-radius: 10px;
    margin-bottom: 10px;
    color: white;
    font-family: san-serif,sans-serif,Arial, Helvetica;
    padding:30px;
    display: flex;
}
.profile-pic-1{
    width: 20px;
    height: 20px;
    margin-top: 3px;
    border-radius: 10px;
}
.post_info{
    display: flex;
    font-family: san-serif,sans-serif,Arial, Helvetica;
}
.user_post_info{
    margin-left: 30px;
    font-size: 20px;
}
.user_post_info .post_date,.post_time{
    margin-top: 4px;
    font-size: x-small;
}
.whole_post_content{
    font-family: san-serif,sans-serif,Arial, Helvetica;
    margin-left: 20px;
    border-left: 2px solid rgba(100,100,100,0.2);
    padding-left: 20px;
    padding-right: 20px;
}
.post_title {
    height: 48px;
    padding-top: 20px;
    width: 210px;
    padding: 20px;
    border: 2px solid transparent;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 15px;
    margin-top: -20px;
    margin-left: -8px;
    color: #FA0509;
}
.post_content {
    padding-top: 20px;
    width: 250px;
    padding: 20px;
    border: 2px solid transparent;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px;
    margin-top: -20px;
    margin-left: -8px;
}
.post_title:hover{
    color: #B92C01;
    font-size: 15px;
}
.post_author{
    color: #FA0509;
    font-size: 50px;
}

.post_author:hover{
    color: #B92C01;
    font-size: 20px;
}

.all_tabs{
    background: rgba(255,255,255,0);
}
.all_tabs:hover,.all_tabs:focus{
    background: transparent;
    
}
.wrapper{
    color: #333;
}




























@media (max-width: 48em) {

    .profile-pic{
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
    .profile-pic-1{
        width: 40px;
        height: 40px;
        border-radius: 10px;
    }
    .user1{
        margin-top: 6px;
        margin-left: 30px;
        font-size: 20px;
    }
    .questions{
        margin-top: 180px;
        height: auto;
        width: 100vw;
        background: rgba(0,0,0,0.6);
        margin-left: 0%;
        border-radius: 10px;
        margin-bottom: 10px;
        color: white;
        font-family: san-serif,sans-serif,Arial, Helvetica;
        padding:30px;
    }
    .question{
        margin-top: 10px;
        height: auto;
        width: 96%;
        background: rgba(0,0,0,0.6);
        margin-left: 2%;
        border-radius: 10px;
        margin-bottom: 10px;
        color: white;
        font-family: san-serif,sans-serif,Arial, Helvetica;
        padding:30px;
        display: block;
    }
    .profile-pic-1{
        width: 80px;
        height: 80px;
        border-radius: 10px;
    }
    .post_info{
        display: flex;
        font-family: sans-serif,Arial, Helvetica;
        border-bottom: 2px solid rgba(100,100,100,0.2);
        padding-bottom: 15px;
    }
    .user_post_info{
        margin-left: 30px;
        font-size: 20px;
    }
    .post_author{
        margin-bottom: 10px;
    }
    .user_post_info .post_date,.post_time{
        margin-top: -4px;
        font-size: x-small;
    }
    .whole_post_content{
        font-family: sans-serif,Arial, Helvetica;
        width: 119%;
        margin-left: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: -25px;
        padding-top: 10px;
        
        border-left: 2px solid transparent;
        text-align: left;
    }
    .post_title {

        width: 180px;
        padding: 10px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 15px;
        margin-top: -20px;
        margin-left: -8px;
    }
    .post_content{

        font-size: small;
        width: 180px;
        padding: 10px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-top: -20px;
    }

    a:hover,a.focus{
        color: tomato;
    }

    .header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
    }

    .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
    }

    .header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
    }

    .header li a:hover {
    background-color: #f4f4f4;
    }

    .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
    }

    .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    margin-left: 20px;
    margin-bottom: 20px;
    }

    .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
    }

    .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
    }

    .header .menu-icon .navicon:before,
    .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
    }

    .header .menu-icon .navicon:before {
    top: 5px;
    }

    .header .menu-icon .navicon:after {
    top: -5px;
    }

    .header .menu-btn {
    display: none;
    }

    .header .menu-btn:checked ~ .menu {
    max-height: 240px;
    }

    .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
    }

    .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
    }

    .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
    }

    .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
    .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
    }

    }
@media (max-width: 60em) {

    .profile-pic{
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
    .profile-pic-1{
        width: 40px;
        height: 40px;
        border-radius: 10px;
    }
    .user1{
        margin-top: 6px;
        margin-left: 30px;
        font-size: 20px;
    }
    .questions{
        margin-top: 180px;
        height: auto;
        width: 100vw;
        background: rgba(0,0,0,0.6);
        margin-left: 0%;
        border-radius: 10px;
        margin-bottom: 10px;
        color: white;
        font-family: san-serif,sans-serif,Arial, Helvetica;
        padding:30px;
    }
    .question{
        margin-top: 10px;
        height: auto;
        width: 96%;
        background: rgba(0,0,0,0.6);
        margin-left: 2%;
        border-radius: 10px;
        margin-bottom: 10px;
        color: white;
        font-family: san-serif,sans-serif,Arial, Helvetica;
        padding:30px;
        display: block;
    }
    .profile-pic-1{
        width: 80px;
        height: 80px;
        border-radius: 10px;
    }
    .post_info{
        display: flex;
        font-family: sans-serif,Arial, Helvetica;
        border-bottom: 2px solid rgba(100,100,100,0.2);
        padding-bottom: 15px;
    }
    .user_post_info{
        margin-left: 30px;
        font-size: 20px;
    }
    .user_post_info .post_date,.post_time{
        margin-top: 0px;
        font-size: x-small;
    }
    .whole_post_content{
        font-family: sans-serif,Arial, Helvetica;
        width: 119%;
        margin-left: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: -25px;
        padding-top: 10px;
        
        border-left: 2px solid transparent;
        text-align: left;
    }
    .post_title {

        width: 180px;
        padding: 10px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 15px;
        margin-top: -20px;
        margin-left: -8px;
    }
    .post_content{

        font-size: small;
        width: 180px;
        padding: 10px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-top: -20px;
    }

    a:hover,a.focus{
        color: tomato;
    }

    .header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
    }

    .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
    }

    .header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
    }

    .header li a:hover {
    background-color: #f4f4f4;
    }

    .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
    }

    .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    margin-left: 20px;
    margin-bottom: 20px;
    }

    .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
    }

    .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
    }

    .header .menu-icon .navicon:before,
    .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
    }

    .header .menu-icon .navicon:before {
    top: 5px;
    }

    .header .menu-icon .navicon:after {
    top: -5px;
    }

    .header .menu-btn {
    display: none;
    }

    .header .menu-btn:checked ~ .menu {
    max-height: 240px;
    }

    .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
    }

    .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
    }

    .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
    }

    .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
    .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
    }

    }

.account_btn,.ask_btn,.login_btn,.logout_btn,.register_btn{
    color: #FA0509;
}